@import url(https://fonts.googleapis.com/css?family=Bangers);

body{
	margin:0;
}
#container{width:70%; margin:0 auto; font-family:Georgia, "Times New Roman", Times, serif;	background-color:#E43134;}

.imgGallery{width:170px;height:300px;float:left; background-color:#ccc; margin:1em; padding-top:3px;padding-bottom:3px;text-align:center;-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
margin-top:2%;
overflow:hidden!important



}
header{
	text-align:center;
	font-family:Georgia, "Times New Roman", Times, serif;
	height:75px;
	background-color:#333;
	color:#999;
	font-size:3em;
	
}

a:link, a:visited{
	color:#464445;
	font-size:120%;
	font-family: 'Bangers', cursive;
}

.lifePara{
	background-color:#333132;
	color:#E9E6E6;
	height:3em;
  line-height: 3em;

}

.myContent{
	height:14em;
	
}